/*This is the style sheet for index.html*/

/*******************************************
 selectors
 ******************************************/

/* .class */
.courses{
	background-color:#99ff99;
	border-style: dotted;
	border-color: hsl(220, 100%, 30%);
}

/* id */
#icecream{
	text-decoration: overline wavy rgb(255, 250, 205);
	text-color: powderBlue;
}

/* universal selector*/
*{
	margin-left: 5px;
	margin-right: 5px;
	margin-top:1px;
	margin-bottom:1px;
}

/*element*/
table{
	margin: 2mm;
	padding:10px;
}


/*attribute*/
img[alt=devilstrill]{
	padding-top: 5vh;
	padding-bottom: 5vh;
	padding-left:4vw;
	padding-right:4vw;
	max-width: 20%;

}

/*psuedo-class hover*/
p:hover{
	background-color: rgb(255, 250, 205);
}

/*psuedo-class active*/
blockquote:active{
	background-color: rgb(255, 250, 205);
}

/*Descendant Combinator element element*/
section h2{
	border-radius: 7pt;
	border-style: dotted;
	border-color: cadetBlue;
}

/*Child Combinator*/
div > p{
	background-color: powderBlue;
	line-height: 2em;
}

/*adjacent Sibling combinator*/
h3 + pre{
	border-color:#99ff99;
	border-width:3px;
	border-style:solid;
}

/*general sibing combinator*/
audio ~ a{
	text-color:crimson;
	border-color:#99ff99;
	border-width:3px;
}

/* combining two */
summary.ec{
	position: relative;
	height: 15px;
	width: 400px;
	margin:auto;

}

/*selector list*/
button, blockquote{
	border-color:cadetBlue;
}

p.message{
	position: fixed;
	background-color: powderBlue;
	top:0;
	right:0;
}

/*media query*/
@media only screen and (min-width: 500px) {
  h3{
    text-color: blue;
  }
}

/*flex box*/
.flex-container{
	display:flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.flex-item{
	align-self:auto;
	flex-basis: 20vw;
}

/*grid*/
.grid-container{
	display:grid;
	grid-template-rows: 400px 400px;
	grid-template-height:500px 30px;
}
.grid-item{
	max-width:300px;
	max-height:400px;
}

span{
	display:block;
}
li.names{
	display:inline;
}
@font-face {
  font-family: myFontsName;
  src: url(ArchitectsDaughter-Regular.ttf);
  
}

body {
  font-family: myFontsName;
}
